<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calcul Moyenne</title>
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/fontawesome/css/all.min.css">
  <style>
    #liste_matieres>.row:nth-of-type(2n) {
      background-color: var(--bs-gray-200);
    }
  </style>
</head>

<body>
  <main class="container" id="vueapp">
    <h1>Moyenne Générale Trimestre</h1>

    <article>
      <div class="my-2">
        <label for="inpNiveauIndex">Niveau</label>
        <select class="form-select form-select-md" id="inpNiveauIndex" aria-labelledby="inpNiveauIndexHelp"
          v-on:change="onSelectNiveau($event)">
          <option value="-1">-</option>
          <option v-for="niveau, index in mat_sect.niv_sec" v-bind:value="index" v-bind:selected="idxNiveau == index">
            {{niveau}}</option>
        </select>
        <div id="inpNiveauIndexHelp" class="form-text">Sélectionner un niveau pour voir ses matières.</div>
      </div>
    </article>

    <article id="liste_matieres" v-if="idxNiveau != -1">
      <div class="py-1 row">
        <div class="col-6 col-md-8">&nbsp;</div>
        <div class="col-3 col-md-2">
          <button class="w-100 btn btn-dark" title="Modifier les coefficients" v-if="editMode != 'coef'"
            v-on:click="onSelectEditMode('coef')"><i class="fas fa-pencil-alt"></i> Coef</button>
        </div>
        <div class="col-3 col-md-2">
          <button class="w-100 btn btn-dark" title="Modifier les notes" v-if="editMode != 'note'"
            v-on:click="onSelectEditMode('note')"><i class="fas fa-pencil-alt"></i> Note</button>
        </div>
      </div>
      <div v-for="ms, idxMS in mat_sect.mat_sec[idxNiveau]" class="py-1 row">
        <div class="col-6 col-md-8">{{ms.matiere}}</div>
        <div class="col-3 col-md-2">
          <div v-if="editMode != 'coef'" class="text-end">{{ms.coef}}</div>
          <input type="number" min="0" max="20" step="0.25" class="form-control form-control-sm text-end"
            v-if="editMode == 'coef'" v-on:blur="onBlurCoef(idxMS)" v-model.number="ms.coef">
        </div>
        <div class="col-3 col-md-2">
          <div v-if="editMode != 'note'" class="text-end">{{notes[idxMS]}}</div>
          <input type="number" min="0" max="20" step="0.25" class="form-control form-control-sm text-end"
            v-if="editMode == 'note'" v-on:blur="onBlurNote(idxMS)" v-model.number="notes[idxMS]">
        </div>
      </div>
      <div class="my-2 row">
        <div class="col-4 text-center">
          <div class="text-muted">Total</div>
          <div>{{total}}</div>
        </div>
        <div class="col-4 text-center">
          <div class="text-muted">Somme Coefs</div>
          <div>{{totalCoef}}</div>
        </div>
        <div class="col-4 text-center">
          <div class="text-muted">Moyenne</div>
          <div>{{totalMoy.toFixed(2)}}</div>
        </div>
      </div>
    </article>
  </main>
  <script src="assets/js/bootstrap.bundle.js"></script>
  <script src="assets/js/vue.js"></script>
  <script src="assets/app/entities.js"></script>
  <script src="assets/app/calc_moy.js"></script>
</body>

</html>