<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fiches de renseignements Eleve</title>
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/fontawesome/css/all.min.css">
</head>

<body>
  <main id="vueapp" class="container">
    <article v-if="alerts.length > 0">
      <div class="my-2 alert d-flex align-items-center" v-bind:class="'alert-' + alert.alType" role="alert"
        v-for="alert in alerts">
        <i class="fas fa-check me-2"></i>
        <div>{{alert.alMsg}}</div>
      </div>
    </article>

    <article v-if="mode == 'list'">
      <div class="my-2">
        <label for="inpNiveauIndex">Niveau</label>
        <select class="form-select form-select-md" id="inpNiveauIndex" aria-labelledby="inpNiveauIndexHelp"
          v-on:change="onSelectNiveau($event)">
          <option value="-1">-</option>
          <option v-for="niveau, index in mat_sect.niv_sec" v-bind:value="index" v-bind:selected="idxNiveau == index">
            {{niveau}}</option>
        </select>
        <div id="inpNiveauIndexHelp" class="form-text">Sélectionner un niveau pour voir ses matières.</div>
      </div>
    </article>

    <article v-if="mode == 'list' && idxNiveau != -1">
      <h2>Liste des matières</h2>
      <!--<div v-for="ns, idxNS in mat_sect.niv_sec"> -->
      <h3>Niveau : {{getNiveau(idxNiveau)}}</h3>

      <div class="row">
        <div v-for="ms, idxMS in mat_sect.mat_sec[idxNiveau]" class="col-sm-12 col-lg-6 row">
          <div class="col-10">
            <a href="#" v-on:click.prevent="onSelectItem(idxNiveau, idxMS)" title="Modifier"><i
                class="fas fa-pencil-alt"></i></a>
            <a href="#" v-on:click.prevent="onDeleteItem(idxNiveau, idxMS)" title="Supprimer"><i
                class="fas fa-trash-alt"></i></a>
            <span class="badge" v-bind:class="getClassBadge(ms)">{{ms.categorie}}</span>
            {{ms.matiere}}
          </div>
          <div class="col-2 text-end">{{ms.coef.toFixed(1)}}</div>
        </div>
      </div>
      <!-- </div> -->
    </article>

    <article v-if="mode == 'list'">
      <div class="my-2">
        <button v-if="idxNiveau != -1" class="btn btn-secondary" v-on:click="onNewItem(idxNiveau)" title="Nouvelle Matière"><i class="fas fa-plus-circle"></i>
          Matière</button>
        <button v-if="idxNiveau != -1" class="btn btn-secondary" v-on:click="onDuplicateNiveau(idxNiveau)"><i class="fas fa-copy"></i> Dupliquer</button>
        <button class="btn btn-success" v-on:click="onNewItem()" title="Nouvelle Section"><i class="fas fa-plus-circle"></i> Niveau</button>
      </div>
    </article>

    <article v-if="mode == 'edit' || mode == 'new' || mode == 'delete'">
      <div v-if="mode == 'edit'" class="my-2 card">
        <div class="card-body">
          <h3 class="card-title">Ancienne Matière</h3>
          <h4 class="card-subtitle mb-2 text-muted">Niveau : {{getNiveau(selectedNiveauIndex)}}</h4>
          <div class="card-text row">
            <div class="col-sm-12 col-md-6 col-lg-4 row">
              <div class="col-8">
                <span class="badge"
                  v-bind:class="getClassBadge(getMatiere(selectedNiveauIndex, selectedMatiereIndex))">{{getMatiere(selectedNiveauIndex,
                  selectedMatiereIndex).categorie}}</span>
                {{getMatiere(selectedNiveauIndex, selectedMatiereIndex).matiere}}
              </div>
              <div class="col-4 text-end">{{getMatiere(selectedNiveauIndex, selectedMatiereIndex).coef.toFixed(1)}}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="my-2 card">
        <div class="card-body">
          <form>
            <h3 class="card-title">{{mode != 'delete' ? 'Nouvelle Matière' : 'Suppression Matière'}}</h3>
            <div class="mb-1 row">
              <div class="col-md-4">
                <label for="inpNiveau" class="form-label">Niveau</label>
                <input type="number" min="1" max="4" id="inpNiveau" class="form-control"
                  v-model.number="selectedItem.niveau" v-bind:readonly="mode == 'delete'">
              </div>

              <div class="col-md-8">
                <label for="inpSection" class="form-label">Section</label>
                <select id="inpSection" class="form-select form-select-md" v-if="mode != 'delete'"
                  v-model="selectedItem.id_section">
                  <option selected>-</option>
                  <option v-for="section in sections" v-bind:value="section.id">{{section.section}}
                    ({{section.section_court}})</option>
                </select>
                <input type="text" id="inpSection" class="form-control" v-model="selectedItem.section"
                  v-if="mode == 'delete'" v-bind:readonly="mode == 'delete'">
              </div>
            </div>

            <div class="mb-1 row">
              <div class="col-md-8">
                <label for="inpMatiere" class="form-label">Matiere</label>
                <select id="inpMatiere" class="form-select form-select-md" v-if="mode != 'delete'"
                  v-model="selectedItem.id_matiere">
                  <option selected>-</option>
                  <option v-for="matiere in matieres" v-bind:value="matiere.id">{{matiere.matiere}}</option>
                </select>
                <input type="text" id="inpMatiere" class="form-control" v-model="selectedItem.matiere"
                  v-if="mode == 'delete'" v-bind:readonly="mode == 'delete'">
              </div>

              <div class="col-md-4">
                <label for="inpCoef" class="form-label">Coefficient</label>
                <input type="number" min="0.25" max="4.0" step="0.25" id="inpCoef" class="form-control"
                  v-model.number="selectedItem.coef" v-bind:readonly="mode == 'delete'">
              </div>
            </div>

            <div class="mb-1">
              <input type="radio" id="inpCategoriePrinipale" name="categorie" value="PR"
                v-model="selectedItem.categorie" v-bind:disabled="mode == 'delete'">
              <label for="inpCategoriePrinipale" class="form-label">Principale</label>

              <input type="radio" id="inpCategorieObligatoire" name="categorie" value="OB"
                v-model="selectedItem.categorie" v-bind:disabled="mode == 'delete'">
              <label for="inpCategorieObligatoire" class="form-label">Obligatoire</label>

              <input type="radio" id="inpCategorieOption" name="categorie" value="OP" v-model="selectedItem.categorie"
                v-bind:disabled="mode == 'delete'">
              <label for="inpCategorieOption" class="form-label">Option</label>
            </div>
          </form>
        </div>
      </div>

      <div v-if="mode == 'delete'" class="my-2">
        Etes-vous sûr de vouloir supprimer cette matière ?
      </div>

      <div v-if="mode != 'delete'" class="mb-1">
        <button v-on:click.prevent="onSaveClicked()" class="btn btn-primary">Enregistrer</button>
        <button v-on:click.prevent="onCancelClicked()" class="btn btn-secondary">Annuler</button>
      </div>

      <div v-if="mode == 'delete'" class="mb-1">
        <button v-on:click.prevent="onCancelClicked()" class="btn btn-secondary">Annuler</button>
        <button v-on:click.prevent="onSaveClicked()" class="btn btn-danger">Supprimer</button>
      </div>
    </article>

    <article v-if="mode == 'duplicate'">
      <div class="my-2 card">
        <div class="card-body">
          <form>
            <h3 class="card-title">Nouvelle Section</h3>
            <div class="mb-1 row">
              <div class="col-md-4">
                <label for="inpNiveau" class="form-label">Niveau</label>
                <input type="number" min="1" max="4" id="inpNiveau" class="form-control"
                  v-model.number="dupItems[0].niveau">
              </div>

              <div class="col-md-8">
                <label for="inpSection" class="form-label">Section</label>
                <select id="inpSection" class="form-select form-select-md" v-model="dupItems[0].id_section">
                  <option selected>-</option>
                  <option v-for="section in sections" v-bind:value="section.id">{{section.section}}
                    ({{section.section_court}})</option>
                </select>
              </div>
            </div>

            <div>
              <label>Matières</label>
            </div>

            <div class="mb-1 row" v-for="item, idxItem in dupItems">
              <div class="my-1 col-12 col-sm-5 col-lg-6">
                <select id="inpMatiere" class="form-select form-select-sm" v-model="item.id_matiere">
                  <option selected>-</option>
                  <option v-for="matiere in matieres" v-bind:value="matiere.id">{{matiere.matiere}}</option>
                </select>
              </div>
              <div class="my-1 col-6 col-sm-3 col-lg-2">
                <input type="number" min="0.25" max="4.0" step="0.25" id="inpCoef" class="form-control form-control-sm" v-model.number="item.coef">
              </div>
              <div class="my-1 col-4 col-sm-3 col-lg-3">
                <select id="inpCategorie" class="form-select form-select-sm" v-model="item.categorie">
                  <option value="PR">PR</option>
                  <option value="OB">OB</option>
                  <option value="OP">OP</option>
                </select>
              </div>
              <div class="my-1 col-2 col-sm-1 col-lg-1">
                <a href="#" v-on:click.prevent="onDeleteMatiere(idxItem)" title="Supprimer"><i
                  class="fas fa-trash-alt"></i></a>
              </div>
            </div>

            <div class="mb-1">
              <button class="btn btn-primary" v-on:click.prevent="onAddMatiere()"><i class="fas fa-plus-circle"></i> Matière</button>
            </div>
          </form>
        </div>
      </div>

      <div class="mb-1">
        <button v-on:click.prevent="onSaveDupClicked()" class="btn btn-primary">Enregistrer</button>
        <button v-on:click.prevent="onCancelDupClicked()" class="btn btn-secondary">Annuler</button>
      </div>
    </article>
  </main>
  <script src="assets/js/bootstrap.bundle.js"></script>
  <script src="assets/js/vue.js"></script>
  <script src="assets/app/entities.js"></script>
  <script src="assets/app/mat_sect.js"></script>
</body>

</html>